configuration {
	show-icons: true;
	font: "JetBrainsMono Nerd Font Medium 16";
	display-drun: "Apps";
}

//@theme "/usr/share/rofi/themes/Paper.rasi"
//@theme "/usr/share/rofi/themes/android_notification.rasi"
@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
